// variable
$purple: #6648FF;
$orange: #F9B019;
$bg-bright: #F7F5FF;
$bg-dark: #1D2939;



html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Proxima;
    src: url("fonts/proxima.otf") format("opentype");
}

@font-face {
    font-family: Proxima;
    font-weight: bold;
    src: url("fonts/proximanova-bold.otf") format("opentype");
}


h1,
h2,
h3,
h4,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1,
h2 {
    font-weight: 600;
    line-height: 1.2;
}

body {
    font-family: "Proxima", "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

h3 {
    font-size: calc(1.5rem + 0.390625vw);
}

h4 {
    font-size: calc(1.2rem + 0.390625vw);
}

section {
    padding: 1rem;

    @media (min-width:768px) {
        padding: 4rem;
    }
}

.container {
    width: 100%;
    max-width: 992px;
    margin: auto;
}

.table {
    overflow: auto;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #eaecf0;

    thead {
        th {
            background-color: #f9fafb;
            font-weight: bold;
            color: #1d2939;
            font-size: 1rem;
            padding: 1rem;
            border: 1px solid #eaecf0;
        }
    }

    tbody {
        td {
            color: #1d2939;
            padding: 1rem;
            border: 1px solid #eaecf0;
        }
    }
}

section._banner {
    background-color: #6650B3;
    color: #fff;
}

// override
._edu-nav {
    border-bottom: 0;

    .nav-item {
        margin-right: 8px;
    }

    .nav-link {
        border: 1px solid #4B35B8;
        color: #4B35B8;
        border-radius: 8px;

        &.active {
            background-color: #4B35B8;
            color: #fff;
            border: 1px solid transparent;
        }

        &:hover {
            background-color: #4B35B8;
            color: #fff;
            border: 1px solid #4B35B8;
        }
    }
}

._edu-nav._preview {
    justify-content: center;

    .nav-link {
        padding: 0;
        width: 100px;
    }
}

._previewWrapper {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    &._tab {
        max-width: 500px;
    }

    &._mobile {
        max-width: 250px;
    }
}

section._cta {
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
}

._payHere {
    background-color: #4B35B8;
    padding: 8px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    width: 240px;
    display: inline-block;

    &:hover {
        opacity: .7;
        transform: .4s ease;
    }
}

.socialMediaWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .previewMediaWrapper {
        text-align: center;
        width: calc(33% - 8px);
        margin-bottom: 4rem;

        img {
            width: 100%;
            height: auto;
        }
    }
}

// bootstrap margin
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

// container
.container {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);


    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }

}

// util
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}

dl,
ol,
ul {
    margin-top: 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background: 0 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}